---
import Layout from "../layouts/Layout.astro";
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import ImgHero from "../assets/img/imgacceuilheader.webp";
import ImgHeroDesktop from "../assets/img/imgherodesktop.webp";

const title = "Sci-fi stival";
const subTitle = "Festival de science fiction";
const description = "13 au 15 Mars 2025";
---

<LayoutWithHero
    title={title}
    description={description}
    subTitle={subTitle}
    src={ImgHero}
    srcDesktop={ImgHeroDesktop}
    alt="hero"
    classLayout="min-h-screen"
>
    <h1 class="font-title-orb text-pink">Sci-fi Stival</h1>
    <p class="h-screen">Texte standard</p>
</LayoutWithHero>
