---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";

const {
    title,
    description,
    subTitle,
    src,
    srcDesktop,
    alt,
    classContent = "main-content max-w-2xl mx-6 my-16 lg:mx-auto",
    classLayout,
} = Astro.props;
---

<Layout title={title} description={description}>
    <!-- Image en plein écran -->
    <div class="relative" class:list={classLayout}>
        <picture class="absolute inset-0 w-full h-full">
            <source srcset={srcDesktop.src} media="(min-width: 768px)" />
            <img
                src={src.src}
                alt={alt}
                class="duotone w-full h-full object-cover"
            />
        </picture>

        <!-- 🔽 Titre et sous-titre positionnés aux 3/4 de l'image -->
        <div
            class="absolute bottom-[10%] md:bottom-[10%] left-1/2 -translate-x-1/2 text-pink px-6 text-center max-w-[100%] md:max-w-[90%]"
        >
            <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold">{title}</h1>
            {
                subTitle && (
                    <h2 class=" font-sans font-extrabold  mt-2 md:mt-4">
                        {subTitle}
                    </h2>
                )
            }
        </div>
    </div>

    <!-- Ajout d'un espace sous l'image pour éviter le chevauchement -->
    <div class="h-12 md:h-20"></div>

    <!-- Contenu principal sous le Hero -->
    <div class={classContent}>
        <slot name="content" />
    </div>
</Layout>
